@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

input[type="search"] {
  border: 1px solid rgb(82, 80, 80);
  border-radius: 10px;
}
